@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* { 
    padding: 0;
    margin: 0;
}



.id-card { 
    padding: 5px;
    background-color: #F9F7F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-family: "Montserrat", sans-serif;
    border: 3px solid #aa8a4c;

    /** max-width: 800px; **/
}

.id-card img { 
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.agent-name { 
    font-size: 15px;
    font-weight: 800;

    margin-top: 10px;
    margin-bottom: 10px;
}

.agent-designation { 
    margin-bottom: 10px;
}

.location { 
    border: 3px solid #aa8a4c;
}


.agent-photo { 
    border: 3px solid #aa8a4c;
    border-radius: 10px;
    width: 20px;

}

.whatsapp-container  { 
    background-color: #aa8a4c;
    width: inherit; 
    text-align: center;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 200px; 
    margin-top: 10px;
}

.whatsapp { 
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.fa-whatsapp { 
    font-size: 15px;
    margin-right: 5px;
}

.call { 
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.fa-phone { 
    font-size: 12px;
    margin-right: 5px;
}

.call-container  { 
    background-color: #aa8a4c;
    width: inherit; 
    text-align: center;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.email-container  { 
    background-color: #aa8a4c;
    width: inherit; 
    text-align: center;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 200px;
    margin-bottom: 10px;
}

.location-container  { 
    background-color: #aa8a4c;
    width: inherit; 
    text-align: center;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 200px;
    margin-bottom: 10px;
}

.fa-location-dot { 
    margin-right: 5px;
}

.fa-envelope { 
    font-size: 12px;
    margin-right: 3px;
}

.email { 
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.elevation-link { 
    text-decoration: none;
}

.brochure { 
    text-decoration: none;
    color: white;

    padding: 10px;
    margin-bottom: 10px;
    background-color: black;
    
    border-radius: 10px;
    font-size: 12px;
    width: 200px;
    text-align: center;
    font-weight: 500;
}

